@media print {
  a:not(.btn) {
    text-decoration: none;
    font-size: small;
  }

  a[href]:after {
    content: " " attr(href) " ";
  }

  a > span {
    display: none;
  }

  .header {
    border: 0 !important;
    .social-links {
      display: inline-table!important;
      text-align: left;
      .d-print-block {
        font-size: small;
      }
      a:after {
        display: none;
      }
      a {
        display: inline-flex;
        text-decoration: none;
        clear: both;
        padding: 2px 2px !important;
        i {
          margin-right: 0.5em;
        }
      }

    }
    .lang {
      a[href]:after {
        display:block;
        content: normal;
      }
      a > span {
        display: block;
      }
    }
    .nav-tabs {
      a[href]:after {
        content: initial;
      }
    }
  }
  .bg-dark {
    background-color: '#343a4036'!important;
  }
  .bg-light {
    background-color: '#1c1e2114'!important;
  }

  .progress-bar {
    background: repeating-linear-gradient(
                    45deg,
                    #dedede,
                    #e6e6e6 30px,
                    #ebebeb 30px,
                    #15455b 20px
    ) !important;
    border: 1px solid rgba(10, 9, 9, 1);
  }
  .collapse {
    display: block !important;
  }
  .nav>li>a {
    word-break: break-word;
  }
  #top-nav-bar {
    display: none!important;
  }

  #content > .row > .col-md-12 > div  {
    margin-top: 40px;
  }

  .print-grid {
    display: grid;
  }
  .print-as-row {
    max-width: 100%;
  }
  .vertical-timeline-element {
    margin: 0!important;
  }
}
