/*
 * Header
 */

.header {
  border: 0;
  border-bottom: solid #9da0a4;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 1em 0;
}

.header .person-details-inline {
  display: inline-flex;
}
.header .person-details-contents {
  display: contents;
}
.header .person-details .portrait {
  margin: 1em;
  margin-bottom: 0;
}
.header .person-details .title {
  margin: 0 1em;
}
.header .person-details .contact {
  margin: 0 1em;
  min-width: 17em;
}

.header .list-group-item {
  border: 0;
  background-color: inherit;
  text-align: left;
  padding: .25rem 0.75rem;
}
.header .list-group-item i {
  margin-right: 0.3em;
  width: 2rem;
}
.header .list-group-item span {
  margin-left: 0.2em;
}
.header .list-group-item small {
  font-size: 70%;
  display: block;
}

.header .list-group {
  background-color: inherit;
}

.header .fas {
  padding-right: 1em;
  color: white;
}

.header #download > a > i {
  color: #000000;
  padding: 0;
}

.header .display-4, .header .display-5 {
  color: white;
}
.header .display-5 {
  font-size: x-large;
}

.header .nav>li>a {
  padding-right: 1rem;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.header img {
  max-height: 100px;
  max-width: 100%;
  border-radius: 15px;
}

.header .badge-pill {
  padding: 0.8em;
}

.header .skills-row {
  margin: 0.5em 2em;
}

.header #more {
  display: inline;
  font-size: 2em;
  line-height: 0.5em; /* to keep inline with text */
}

.header .nav-tabs {
  border: 0;
}
.header .nav-tabs > li.nav-item > a {
  line-height: 2em;
  padding: 0 1em;
  border-radius: 5px;
  background-color: #dbdbdb;
  margin: 0.5em 0.3em;
  color: #000000;
  font-variant: all-small-caps;
  font-weight: 700;
  box-shadow: 0 3px 0 #6c757d;
}
.header .nav-tabs > li.nav-item > a.active {
  color: #dbdbdb;
  background-color: #232327;
}

.header #tabs {
  margin-top: 0;
  margin-bottom: 0;
}

.header .social-links {
  display: flex;
}

.header .social-links > a {
  color: white;
  padding: 5px 5px;
  font-size: large;
}
@media (max-width: 768px) {
  .title-text {
    font-size: smaller;
  }
}

@media (max-width: 425px) {
  .header .person-details .portrait {
    margin: 1em;
  }
  .header .person-details .contact {
    margin: 0 1em;
    width: 100%;
  }
  .header .person-details .titleHeader {
    max-width: 16em;
  }
  .header .person-details .titleText {
    margin: 1em 1em;
  }
}
@media (max-width: 375px) {
  .header .person-details .titleHeader {
    max-width: 16em;
  }
}

@media (max-width: 320px) {
  .header .person-details .portrait {
    margin: 0.5em;
  }
  .header .person-details .contact {
    margin: 0 0.5em;
  }
  .header .person-details .titleHeader {
    max-width: 14em;
    font-size: smaller;
  }
}
@media (max-width: 280px) {
  .header .person-details .titleHeader {
    max-width: 4em;
    font-size: xx-small;
    margin-left: 1em;
  }
  .header .person-details .titleText {
    margin: 1em 1em;
  }
}