@import "styles/colors.scss";

#timeline .far {
  margin-left: 20%;
  margin-top: 20%;
}


#timeline {
  .tags {
    span {
      margin: 0.2em 0.1em;
      padding: 0.45em .5em;
    }
  }
  .icon {
    margin-left: 7%;
    margin-top: 15%;
  }
  .vertical-timeline-element-date {
    font-size: 1.5rem;
    padding: .4em 0;
  }
  .vertical-timeline-element-content {
    color: $color-background;
  }
  .vertical-timeline-element-title {
    display: flex;
    justify-content: space-around;
    .duration {
      margin-left:auto; margin-right:0;
    }
    span.title {
      margin-left:0; margin-right:auto;
    }
    .duration-years {
      margin-right: 0.5rem;
    }
  }

  .vertical-timeline-element-subtitle {
    * {
      margin-right: 0.3rem;
    }
    span {
      margin-right: 0.6rem;
    }
  }

  .company-image {
    max-width: 6em;
  }

  .exp-container {
    padding: 0;
    margin-bottom: 1em;
    list-style: none;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }

  .exp-item {
    border: 0;
  }

  .exp1 {
    flex: 0 0 auto;
    margin:auto;
  }
  .exp2 {
    padding-left: 1em;
    flex: 1 1 auto;
  }
}


@media only screen and (min-width: 1170px) {
  #timeline .far {
    margin-left: 27.5%;
    margin-top: 25%;
  }
  #timeline .icon {
    margin-left: 25%;
    margin-top: 25%;
  }

  .vertical-timeline-element {
    margin: 0em 0;
  }
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    padding: 1em;
    .vertical-timeline-element-date {
      left: 135%;
      font-size: 2rem;
      color: $color-foreground;
    }
  }
  .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date,
  .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date {
    right: 135%;
  }
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    color: $color-panel;
  }
}

